.button {
    /* Common styles for all buttons */
    padding: 8px 16px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    width: auto; 
  height: auto; 
  }
  
  .button:hover {
    /* Hover effect for all buttons */
    transform: scale(1); /* Scale up the button slightly on hover */
}
  
  /* Variant styles */
  .button-solo {
    background-color: green;
    color: white;
  }
  
  .button-team {
    background-color: red;
    color: white;
  }
  .button-rules {
    background-color: rgb(231, 231, 231);
    border: 2px solid black; 
  }
  
  .button-login {
    background-color: #2b4661;
    color: white;
    padding: 0.2em .5em;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    font-size: 1em;
}

.button-play {
  background-color: #94a5b7;
}

.button-play:hover {
  background-color: #8d7873;
}
.button-close {
  background-color: #c84632;
}

.button-close:hover {
  background-color: #d92c12;;
}

.button-login:hover {
    background-color: #1a2e3f;
}
  .button-end {
    background-color: #b8300e;
    color: white;
    padding: 0.2em .5em;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    font-size: 1em;
}

.button-end:hover {
    background-color: #1a2e3f;
}
  
  /*Gamepages css only*/
.game-rules {
    display: grid;
    grid-template-columns: 15fr 1fr; /* 2/3 and 1/3 of the container's width */
}
.game-rules h1 {
    text-align: center;
}
.game-rules p {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-decoration: underline;
}

.solo-team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.solo-team button {
    margin-top: 1em;
}


/* Admin pages buttons */

.button-admin {
    background-color: #2b4661;
    color: white;
    padding: 0.2em .5em;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3em;

}

