.button-togglers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 1em 0; 
}
.Cards-list {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 5em;
list-style: none;
margin-bottom: 5em;
}

.Cards-list .assessment-card-listitem {
    margin:1em;
}

.Create-card-link {
    display: flex;
    justify-content: end;
    margin: 1em 0;
}

.Buttons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    position: relative;
    bottom: -1em;
}

.Buttons-wrapper-assessment {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    position: relative;
    bottom: -5em;
    width: 260px;

}

.Buttons-wrapper button:first-child {
    margin-right: 1em;
}

.update-icon-button {
    display: flex;
    justify-content: end;
    margin: 1em 0;
}

@media screen and (max-width: 768px){
    .Cards-list {
        grid-template-columns: 1fr;
    }
    .Card-style {
        width: 80vw;
    }
    
}