.ChooseMissionCard > h1 {
  position: absolute;
  top: 0vh;
  text-align: center;
  width: 100%;
  height: 80px;
  color: rgb(255, 255, 255);
  z-index: 999;
}

.MissionCardContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 10vh;
}

.MissionCardContainerRow {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 30px;
}

.Placeholders {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.Placeholder {
  min-width: 200px;
  height: 40vh;
  border: 2px dashed black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MissionCardContainerItem {
  margin: 5px;
}

.Placeholder {
  width: 200px; /* Adjust according to your layout */
  height: 300px; /* Adjust according to your layout */
  border: 2px dashed #ccc; /* Placeholder border */
  margin: 0 10px; /* Adjust spacing */
  display: inline-block;
  transition: all 0.3s ease; /* Transition for smooth movement */
}

.MissionCard {
  transition: all 0.3s ease; /* Transition for smooth movement */
}

.Placeholder:hover {
  border-color: #333; /* Change border color on hover */
}

.MissionCardContainerItem {
  margin: 10px; /* Adjust spacing */
}

.MissionCardContainerItem.Clicked {
  transform: translate(72px, -340px); /* Adjust translateY value to move the selected card */
}
