.ChooseMissionCard > h1 {
  position: absolute;
  top: 0vh;
  text-align: center;
  width: 100vw;
  height: 80px;
  color: rgb(255, 255, 255);
  z-index: 999;
}

.MissionCardContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 10vh;
}

.MissionCardContainerRow {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
}

.Placeholders {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.Placeholder {
  min-width: 200px;
  height: 40vh;
  border: 2px dashed black;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.MissionCardContainerItem {
  margin: 5px;
}
