.MissionCardContainer {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 2em;
    gap: 2.6em;
}

.AssessmentCardContainer {
    display: grid;
    grid-template-columns: repeat(3, 260px);
    grid-gap: 20px;
    align-content: center;
    justify-content: center;
    margin-top: 4em;
}

.AssessmentCardContainer > div{
    margin-bottom: 6em;

}

.GamePage > h1 {
    position: absolute;
    top: 0vh;
    text-align: center;
    width: 100%;
    height: 80px;
    color: rgb(255, 255, 255);
    z-index: 999;
}


.GameButtons {
    text-align: center;
    margin:20px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.GameButtons > button {
    margin-bottom: 20px;
}
.GamePage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .CardsContainer {
    display: flex;
    flex-direction: column;
    width: 8
    100%;
  }
  
  .GameButtons {
    display: flex;
    flex-direction: column;
  }
  
  /* Add this CSS to your MakeAssessmentSchema.css file */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
    width: 300px; /* Adjust width as needed */
    padding: 20px;
    border-radius: 10px;
    z-index: 9999; /* Ensure it's above other elements */
}

.modal-content {
    text-align: center;
    color: white;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .modal-buttons button {
    margin: 0 10px;
  }
  
  .blur {
    filter: blur(5px);
  }