.card-title {
    color: var(--title-colorAssessment);
}

p {
    font-size: 0.9em;
}
.assessment-card--frontside { 
    background-color: var(--bg-color-primaryAssessment);
}
.card-content {
    background-color: var(--card-color-innerAssessment);
    padding: .4em;
    height: 80%;
    text-align: left;

}
.card-content h2 {
    margin: 0;
}

.assessment-card--backside {
    background-color: var(--bg-color-primaryAssessment);
    transform: rotateY(180deg);
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.assessment-card--frontside, .assessment-card--backside {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; 
}

.flip-indicator {
    font-size: .9em;
    margin-top: .5em;
    opacity: 0;
    position: absolute;
    right: .1em;
    bottom: .1em;
}

.assessment-card--frontside:hover .flip-indicator,
.assessment-card--backside:hover .flip-indicator  {
    
    animation: opacityBlink 1s ease-in-out alternate infinite;
}

.card {
    text-align: center;
    padding: .6em;
    border-radius: .3em;
    min-width: 200px;
    min-height: 350px;
}

.assessment-backside--inner {
    background-color: var(--bg-color-secondaryAssessment);
    margin: .4em;
    border-radius: .4em;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}

.assessment-backside--inner img {
    max-width: 100%;
}
.flip-indicator svg{
    width: 16px;
    padding: 0 .5em;   
}

.assessment-card-container {
    min-width: 200px;
    height: 20em;
    perspective: 1000px;
}

.card-container--inner  {
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
  }

  .card-container--inner.flip {
    transform: rotateY(180deg);
  }

  .star-icon svg {
    width: 25px;
    fill: grey;
    padding-left: 11em;
  }
  .changeStarColor {
    fill: var(--title-colorAssessment);
}

  #cardname {
    font-weight: bold;
    font-size: 1em;
    margin: 1em 0;
  }
  #your-assessment {
    font-weight: bold;
    margin-bottom: .5em;
  }

  #cardID {
    font-size: 0.8em;
    opacity: 0.7;
    margin:0;
    position: absolute;
    bottom: 4em;
    right: 1.5em;
  }

  .name-icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.Card-icon-wrapper img {
    width: 30px;
    object-fit: contain;
}

  @keyframes opacityBlink {
    from { opacity: 0; }
    to { opacity: 1; }
    }

